<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Reddit Scrape</a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/posts">Saved Posts</a>
      </li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleted" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleted">Deleted Post!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center-content">
        <p id="modal-delete"></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="createNote" tabindex="-1" role="dialog" aria-labelledby="note" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="note">Add a Note!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center-content">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="body" rows="3" placeholder="Enter Your Note Here"></textarea>
            </div>
            <div class="form-group">
                <button id="submitNote" type="submit" class="btn btn-primary" data-postId="">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewNote" tabindex="-1" role="dialog" aria-labelledby="vnote" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vnote">Your Note!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center-content">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="vtitle" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="vbody" rows="3" placeholder="Enter Your Note Here"></textarea>
            </div>
            <div class="form-group">
                <button id="updateNote" type="submit" class="btn btn-primary" data-updateId="">Update</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">Your Saved Posts!</h1>
  <p class="lead">All your favorite posts, saved in one place. Add notes or delete!</p>
  <hr class="my-4">
</div>
<div id="results" class="container">
  {{!-- Results go here --}}
  {{#if saved}}
    {{#each saved}}
        <div class="row res-item">
          <div class="col-sm-8">{{title}}</div>
          <div class="col-sm-4">
            <a class="btn btn-primary" href="{{link}}" target="_blank">Link</a>
            <button class="btn btn-warning give-space note" data-id="{{_id}}">Note</button>
            <button class="btn btn-danger give-space delete" data-title="{{title}}">Delete</button>
          </div>
        </div>
    {{/each}}
  {{else}}
    <div class="row">
      <h1 class="nothing">You haven't saved anything!</h1>
    </div>
  {{/if}}
</div>

<link href="./stylesheets/home.css" rel="stylesheet">
<script type="text/javascript" src="./js/posts.js"></script>